html, body {
  margin: 0;
  padding: 0;
}

dialog {
  margin-top: 8px;
  z-index: 3;
}

h1 {
  color: #0066ff;
  font-size: 130%;
  font-weight: bold;
  margin: 4px 8px;
}

div.headline {
  background-color: #cff;
  color: #666;
  font-size: 80%;
  margin: 0px;
  padding: 4px 8px;
}

.main-menu {
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 0;
}

.main-menu > li {
  cursor: default;
  display: inline-block;
  list-style: none;
  margin: 4px 8px;
  position: relative;
  vertical-align: top;
}

.sub-menu {
  margin: 5px 0;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 2;
}

.sub-menu > li {
  background: #fff;
  border: 1px solid #000;
  cursor: default;
  list-style: none;
  margin: -1px 0 0 0;
  padding: 8px;
} 
